$border-item: none;

$color-main: #4fc08d;

$font-family: 'Source Sans Pro', sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

.container-list {
    .alert-error {
        p {
            font-family: $font-family;
            margin: 0;
            color: #f44336;
            font-size: .875rem;
        }
    }
    .input {
        height: 2rem;
        border-radius: 15px;
        border: $border-item;
        padding-left: 15px;
        font-family: $font-family;

    }
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
    border: $color-main 1px solid;
    box-sizing: border-box;
    //box-shadow: 5px 5px 5px 5px;
    margin: 0 auto;
    border-radius: 15px;
    min-height: 100px;
    min-width: 400px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    .content-input {
        input {
            margin-right: 15px;
            border: #e3e3e3 1px solid;
            color: $color-main;
            width: 219px;
        }
      
}
    ul {
        box-sizing: border-box;
        padding: 0;
        width: 100%;
    }
}



