<div class="container-list">
    <div class="content-input">
        <input class="input" type="text btn-hover" [(ngModel)]="value" (keydown.enter)="addItem()" />
        <button class="btn-hover" (click)="addItem()">+ Adicionar</button>
    </div>
    <ul>
        <li *ngFor="let item of todoItem">
            <label class="checkbox path" >
                <input type="checkbox" [checked]="item.checked" (click)="handleChecked(item)">
                <svg viewBox="0 0 21 21">
                    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                </svg>
            </label>
            <div class="content-text">
                <p class="btn-hover" [ngClass]="{ 'text-checked': item.checked}" >{{item.value}}</p> 
                <!-- <input class="input" type="text"> -->
            </div>
            <button class="edit btn-hover" (click)="editItem(item)" >Editar</button> 
            <button class="exclud btn-hover" (click)="removeItem(item)">excluir</button>
        </li>
    </ul>
</div>

