<div class="container-list">
    <div class="content-input">
        <input  placeholder="O que temos que faz?"  class="input" type="text btn-hover" [(ngModel)]="value" (keydown.enter)="addItem()" />
        <app-btn-todo-list label="+ Adicionar" (click)="addItem()"></app-btn-todo-list>
    </div>
    <ul>
        <app-row-todo *ngFor="let item of todoItem" [item]="item"
        (exclud)="removeItem(item)" (edit)="editItem($event)" (sendItem)="handleItem($event)">
        </app-row-todo>
    </ul>
    <div *ngIf="alert.length > 0 " class="alert-error">
        <p>{{alert}} </p>
    </div>
</div>