$border-item: none;

$color-main: #4fc08d;

$font-family: 'Source Sans Pro', sans-serif;

.btn-hover:hover {
    cursor: pointer;
    background-color: $color-main;
    color: white;
    transition: 0.5s;
}

button {
    box-sizing: border-box;
    border-radius: 15px;
    border: $border-item;
    height: 25px;
    border: $color-main 1px solid;
    background-color: white;
    color: $color-main;
    height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $font-family;

}